.video_player {
  height: calc(100% - 62px);
  width: calc(100% - 150px);
  max-width: 1800px;
  min-width: 900px;
  margin: 80px auto 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: 68% 32%;
  padding: 0 20px;
  .left {
    .video {
      height: 68vh;
      min-height: 400px;
      max-height: 720px;
      width: 100%;
      background-color: rgb(27, 118, 179);
    }
    .my-video-dimensions {
      width: 100%;
      height: 100%;
    }
    .video_details {
      color: #aaaaaa;
      margin-top: 35px;
      .tags {
        color: #3ea6ff;
        font-size: 14px;
        margin: 10px 0 5px;
      }
      h1 {
        font-size: 18px;
        font-weight: 400;
        color: white;
      }
      .date {
        margin-top: 10px;
        font-size: 14px;
      }
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      .details_right {
        margin-top: -20px;
        margin-left: auto;
        width: fit-content;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 10px;
        position: relative;
        &::after {
          position: absolute;
          top: 127%;
          left: 2px;
          content: "";
          height: 2px;
          width: 132px;
          background-color: #aaaaaa;
        }
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 3px 5px;
          font-weight: 500;
          font-size: 14px;
          background-color: transparent;
          border: transparent;
          color: #aaaaaa;
          cursor: pointer;
          gap: 3px;
          svg {
            fill: #aaaaaa;
            height: 26px;
            width: 26px;
            border-radius: 50%;
            &:focus {
              background-color: #2e2e2e;
            }
          }
        }
        .Menu {
          position: absolute;
          left: 91%;
          top: 43px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 4px 0;
          width: 170px;
          flex-direction: column;
          background-color: #212121;
          button {
            white-space: nowrap;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 3px 15px;
            gap: 10px;
            svg {
              color: #909090;
            }
            &:hover {
              background-color: #2e2e2e;
            }
          }
        }
      }
    }
  }
}

.channel_details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  color: white;
  .channel_thumb {
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    img {
      height: 48px;
      border-radius: 50%;
      width: 48px;
      background-color: #909090;
      object-fit: cover;
    }
    margin: 0 15px 0 0;
  }
  .channel_name {
    margin-right: auto;
    h2 {
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      margin-bottom: 1px;
      svg {
        height: 12px;
        width: 12px;
        color: #aaaaaa;
      }
    }
    span {
      line-height: 14px;
      font-size: 12px;
      color: #aaaaaa;
    }
  }
  .subscribe_btn_container {
    .subscribe_btn,
    .subscribed_btn {
      background-color: #cc0000;
      margin-right: 10px;
      color: white;
      .MuiButton-label {
        font-size: 14px !important;
        font-weight: 500 !important;
      }
    }
    .subscribed_btn {
      background-color: #303030;
      color: #aaaaaa;
    }
  }
  .notifications {
    color: #909090;
    padding-right: 10px;
  }
}
.description {
  margin: 20px 0 0 63px;
  color: white;
  max-width: 580px;
  font-size: 14px;
  white-space: pre-wrap;
  line-height: 20px;
  padding-bottom: 25px;
  a {
    font-size: 14px;
    display: inline-block;
    color: #3ea6ff;
    text-decoration: none;
    width: 30ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.dot {
  height: 3px;
  width: 3px;
  display: inline-block;
  border-radius: 50%;
  background-color: #909090;
  transform: translate(-50%, -50%);
  margin: 0 2px 0 6px;
}
.comments {
  padding-bottom: 200px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  .count_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin: 30px 0 30px;
    color: white;
    font-size: 16px;
    .sort {
      background-color: transparent;
      color: rgba(255, 255, 255, 0.534);
      padding: 2px 4px;
      .MuiButton-label {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        font-size: 14px;
        font-weight: 500;
        color: white;
      }
    }
  }
  .add_comment {
    form {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;

      .avatar {
        height: 40px;
        width: 40px;
        margin-right: 20px;
        img {
          background-color: #909090;
          width: 100%;
          border-radius: 50%;
          height: 100%;
          object-fit: cover;
        }
      }
      .comment_input {
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #aaaaaa;
        color: white !important;
        outline: none;
        padding: 8px 4px;
        font-size: 14px;
        margin-top: -10px;
        &:focus {
          border-bottom: 1px solid rgb(0, 0, 0);
        }
      }
      .action_btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        position: absolute;
        left: 64%;
        top: 42px;
        .cancel,
        .push_comment {
          background-color: #3ea6ff;
          margin-right: 10px;
          color: black;
          .MuiButton-label {
            font-size: 14px !important;
            font-weight: 500 !important;
          }
        }
        .cancel {
          background-color: #141414;
          color: #aaaaaae7;
        }
      }
    }
  }
}
